[submodule ".ometra/engineering-standards"]
	path = .ometra/engineering-standards
	url = https://github.com/Ometra-Core/Engeneering-Standards.git
[submodule ".ometra/deploy-tools"]
	path = .ometra/deploy-tools
	url = https://github.com/Ometra-Core/Deploy-Tools.git
[submodule ".ometra/ai-tools"]
	path = .ometra/ai-tools
	url = https://github.com/Ometra-Core/AI-Tools.git
